# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
[Bb]in/
[Oo]bj/

# user files
*.csproj.user
*.suo
*.ide

# mstest test results
TestResults
/.vs
/EssentialCSharp/.vs/EssentialCSharp5/v16/Server/sqlite3
/EssentialCSharp/packages/Microsoft.DependencyValidation.Analyzers.0.10.0
